name: Build

on:
  push:
    branches:
    - main
  pull_request:

# Prevent more than one build of this workflow for a branch to be running at the
# same time, and if multiple are queued, only run the latest, cancelling any
# already running build. The exception being any protected branch, such as
# main, where a build for every commit will run.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:

  complete:
    if: always()
    needs:
    - latest
    - testing
    # - future
    runs-on: ubuntu-latest
    steps:
    - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
      run: exit 1

  setup:
    runs-on: ubuntu-latest
    outputs:
      tag-prefix: ${{ steps.tag-prefix.outputs.tag-prefix }}
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # Get all history for the sha count below.
        ref: ${{ github.event.pull_request.head.sha || github.sha }}
    - id: tag-prefix
      run: |
        count="$(git rev-list HEAD --count --first-parent)"
        echo "tag-prefix=v${count}-" >> $GITHUB_OUTPUT

  latest:
    needs: [setup]
    uses: ./.github/workflows/build-latest.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      sha: ${{ github.event.pull_request.head.sha || github.sha }}
      tag-prefix: ${{ needs.setup.outputs.tag-prefix }}

  testing:
    needs: [setup]
    uses: ./.github/workflows/build-testing.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      sha: ${{ github.event.pull_request.head.sha || github.sha }}
      tag-prefix: ${{ needs.setup.outputs.tag-prefix }}

  future:
    needs: [setup]
    uses: ./.github/workflows/build-future.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      sha: ${{ github.event.pull_request.head.sha || github.sha }}
      tag-prefix: ${{ needs.setup.outputs.tag-prefix }}
