name: Latest

# The `:latest` tag should only ever be formally released versions of
# software. That means each ref should only ever be specified as a version
# tag for software that's been released which is not a release candidate.

on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: false
      DOCKERHUB_TOKEN:
        required: false
    inputs:
      sha:
        description: 'Sha to build'
        type: 'string'
        required: true
      tag-prefix:
        description: 'Prefix for the tag name'
        type: 'string'
        default: ''

jobs:

  amd64:
    uses: ./.github/workflows/build.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      sha: ${{ inputs.sha }}
      arch: amd64
      tag: ${{ inputs.tag-prefix }}latest-amd64
      xdr_ref: v20.0.2
      core_ref: v20.1.0
      go_ref: horizon-v2.28.0
      soroban_rpc_ref: v20.1.0
      test_matrix: |
        {
          "network": ["pubnet", "local"],
          "options": ["", "--enable-soroban-rpc"],
          "exclude": [
            { "network": "pubnet", "options": "--enable-soroban-rpc" },
          ]
        }

  arm64:
    uses: ./.github/workflows/build.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      sha: ${{ inputs.sha }}
      arch: arm64
      tag: ${{ inputs.tag-prefix }}latest-arm64
      xdr_ref: v20.0.2
      core_ref: v20.1.0
      core_build_runner_type: ubuntu-latest-16-cores
      go_ref: horizon-v2.28.0
      soroban_rpc_ref: v20.1.0
      soroban_rpc_build_runner_type: ubuntu-latest-16-cores
      test_matrix: |
        {
          "network": ["pubnet", "local"],
          "options": ["", "--enable-soroban-rpc"],
          "exclude": [
            { "network": "pubnet", "options": "--enable-soroban-rpc" },
          ]
        }

  manifest:
    needs: [amd64, arm64]
    uses: ./.github/workflows/manifest.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      tag: ${{ inputs.tag-prefix }}latest
      tag-alias: latest
      images: ${{ needs.amd64.outputs.image }} ${{ needs.arm64.outputs.image }}
