name: Testing

# The `:testing` tag should only ever be formally released or release candidate
# versions of software. That means each ref should only ever be specified as a
# version tag for software that's either the latest release candidate or latest
# release.

on:
  push:
    branches:
    - master
  pull_request:

# Prevent more than one build of this workflow for a branch to be running at the
# same time, and if multiple are queued, only run the latest, cancelling any
# already running build. The exception being any protected branch, such as
# master, where a build for every commit will run.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:

  complete:
    if: always()
    needs: [manifest]
    runs-on: ubuntu-latest
    steps:
    - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
      run: exit 1

  amd64:
    uses: ./.github/workflows/build.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      arch: amd64
      tag: testing-amd64
      core_ref: v19.9.0
      go_ref: horizon-v2.24.0
      soroban_tools_ref: v0.4.0
      test_matrix: |
        {
          "network": ["testnet", "pubnet", "standalone"],
          "options": ["", "--enable-horizon-captive-core", "--enable-horizon-captive-core --enable-core-artificially-accelerate-time-for-testing"],
          "exclude": [
            { "network": "testnet", "options": "--enable-horizon-captive-core" },
            { "network": "testnet", "options": "--enable-horizon-captive-core --enable-core-artificially-accelerate-time-for-testing" },
            { "network": "pubnet", "options": "--enable-horizon-captive-core" },
            { "network": "pubnet", "options": "--enable-horizon-captive-core --enable-core-artificially-accelerate-time-for-testing" },
          ]
        }

  arm64:
    uses: ./.github/workflows/build.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      arch: arm64
      tag: testing-arm64
      core_ref: v19.9.0
      go_ref: horizon-v2.24.0
      soroban_tools_ref: v0.4.0
      test_matrix: |
        {
          "network": ["testnet", "pubnet", "standalone"],
          "options": ["", "--enable-horizon-captive-core"],
          "exclude": [
            { "network": "testnet", "options": "--enable-horizon-captive-core" },
            { "network": "pubnet", "options": "--enable-horizon-captive-core" },
          ]
        }

  manifest:
    needs: [amd64, arm64]
    uses: ./.github/workflows/manifest.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      tag: testing
      images: ${{ needs.amd64.outputs.image }} ${{ needs.arm64.outputs.image }}
