name: Testing

# The `:testing` tag should only ever be formally released or release candidate
# versions of software. That means each ref should only ever be specified as a
# version tag for software that's either the latest release candidate or latest
# release.

on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: false
      DOCKERHUB_TOKEN:
        required: false
    inputs:
      sha:
        description: 'Sha to build'
        type: 'string'
        required: true
      tag-prefix:
        description: 'Prefix for the tag name'
        type: 'string'
        default: ''

jobs:

  amd64:
    uses: ./.github/workflows/build.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      sha: ${{ inputs.sha }}
      arch: amd64
      tag: ${{ inputs.tag-prefix }}testing-amd64
      protocol_version_default: 21
      xdr_ref: v22.0.0-rc.1.1
      core_ref: v22.0.0rc2
      horizon_ref: cad6c5a2986e69c13db807da03e8e6c39d205a51
      soroban_rpc_ref: a4f0c5b50881f09047609fcecacaf94c79360683
      friendbot_ref: cad6c5a2986e69c13db807da03e8e6c39d205a51
      test_matrix: |
        {
          "network": ["testnet", "pubnet", "local"],
          "core": ["core", null],
          "horizon": ["horizon", null],
          "rpc": ["rpc", null],
          "options": [""]
        }

  arm64:
    uses: ./.github/workflows/build.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      sha: ${{ inputs.sha }}
      arch: arm64
      tag: ${{ inputs.tag-prefix }}testing-arm64
      protocol_version_default: 21
      xdr_ref: v22.0.0-rc.1.1
      core_ref: v22.0.0rc2
      core_build_runner_type: ubuntu-latest-16-cores
      horizon_ref: cad6c5a2986e69c13db807da03e8e6c39d205a51
      soroban_rpc_ref: a4f0c5b50881f09047609fcecacaf94c79360683
      soroban_rpc_build_runner_type: ubuntu-latest-16-cores
      friendbot_ref: cad6c5a2986e69c13db807da03e8e6c39d205a51
      test_matrix: |
        {
          "network": ["testnet", "pubnet", "local"],
          "core": ["core", null],
          "horizon": ["horizon", null],
          "rpc": ["rpc", null],
          "options": [""]
        }

  manifest:
    needs: [amd64, arm64]
    uses: ./.github/workflows/manifest.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      tag: ${{ inputs.tag-prefix }}testing
      tag-alias: testing
      images: ${{ needs.amd64.outputs.image }} ${{ needs.arm64.outputs.image }}
