name: Soroban-Dev

# The `:soroban-dev` tag points to a build containing unreleased versions of
# software that have been informally released to the futurenet network.

on:
  push:
    branches:
    - master
  pull_request:

# Prevent more than one build of this workflow for a branch to be running at the
# same time, and if multiple are queued, only run the latest, cancelling any
# already running build. The exception being any protected branch, such as
# master, where a build for every commit will run.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha || github.ref }}
  cancel-in-progress: true

jobs:

  complete:
    if: always()
    needs: [manifest]
    runs-on: ubuntu-latest
    steps:
    - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
      run: exit 1

  amd64:
    uses: ./.github/workflows/build.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      arch: amd64
      tag: soroban-dev-amd64
      core_ref: 6649f517339d3d88d50bebf2258906e66e3f6c32
      core_configure_flags: --disable-tests --enable-next-protocol-version-unsafe-for-production
      go_ref: soroban-v0.0.8
      soroban_tools_ref: 0562c561726a7b0ceefbabdb7ea52147a4f09007
      test_matrix: |
        {
          "network": ["standalone"],
          "options": ["", "--enable-horizon-captive-core", "--enable-horizon-captive-core --enable-core-artificially-accelerate-time-for-testing", "--enable-soroban-rpc", "--enable-soroban-rpc --enable-core-artificially-accelerate-time-for-testing"],
        }

  arm64:
    uses: ./.github/workflows/build.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      arch: arm64
      tag: soroban-dev-arm64
      core_ref: 6649f517339d3d88d50bebf2258906e66e3f6c32
      core_configure_flags: --disable-tests --enable-next-protocol-version-unsafe-for-production
      core_build_runner_type: ubuntu-latest-16-cores
      go_ref: soroban-v0.0.8
      soroban_tools_ref: 0562c561726a7b0ceefbabdb7ea52147a4f09007
      soroban_rpc_build_runner_type: ubuntu-latest-8-cores

      test_matrix: |
        {
          "network": ["standalone"],
          "options": ["", "--enable-horizon-captive-core", "--enable-horizon-captive-core --enable-core-artificially-accelerate-time-for-testing", "--enable-soroban-rpc", "--enable-soroban-rpc --enable-core-artificially-accelerate-time-for-testing"],
        }

  manifest:
    needs: [amd64, arm64]
    uses: ./.github/workflows/manifest.yml
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      tag: soroban-dev
      images: ${{ needs.amd64.outputs.image }} ${{ needs.arm64.outputs.image }}
