name: Test

on:
  push:
    branches: master
  pull_request:

jobs:

  test:
    strategy:
      matrix:
        network: [testnet, pubnet, standalone]
        dockerfile: [Dockerfile, Dockerfile.testing]
        enable_captive_core: [--enable-horizon-captive-core, ""]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Build Quickstart Image
      run: docker build -f ${{ matrix.dockerfile }} -t stellar-quickstart .

    - name: Run Quickstart Image
      run: docker run --rm -d -p "8000:8000" --name stellar stellar-quickstart --${{ matrix.network }} ${{ matrix.enable_captive_core }}

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ^1

    - name: Sleep until supervisor is up
      run: sleep 10

    - name: Run test
      run: |
        echo "supervisorctl tail -f stellar-core" | docker exec -i stellar sh &
        echo "supervisorctl tail -f horizon" | docker exec -i stellar sh &
        go run test.go
